body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-theme {
    background-color: #333;
    color: #f4f4f9;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    transition: background-color 0.3s;
}

body.dark-theme .container {
    background-color: #444;
}

h1 {
    text-align: center;
    color: #333;
}

body.dark-theme h1 {
    color: #f4f4f9;
}

.input-group {
    display: flex;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-theme input[type="text"] {
    background-color: #555;
    color: #f4f4f9;
    border: 1px solid #666;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

body.dark-theme button {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-theme li {
    border-bottom: 1px solid #666;
}

li.completed span {
    text-decoration: line-through;
    color: #888;
}

body.dark-theme li.completed span {
    color: #bbb;
}

li button {
    background: none;
    border: none;
    cursor: pointer;
    color: #888;
}

li button:hover {
    color: #333;
}

body.dark-theme li button:hover {
    color: #f4f4f9;
}
